
.home{
    height: 100vh;
    background-image: url('https://www.timeanddate.com/scripts/worldclock_og.php?h1=World%20Clock&h2=Local%20Time%20Around%20the%20World');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}
.sp{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 100px;
    color: rgb(91, 8, 180);
}
.sps{
    color: blue;
    margin-top: 15px;
    font-size: 50px;
    font-weight: 500;

}